import(jaspBase)
export(Descriptives)
export(DescriptivesInternal)
export(.descriptivesScatterPlots)
export(.poly.predDescriptives)
export(.plotMarginal)
export(.DescriptivesTimeSeries)
export(.tsReadData)
export(.tsErrorHandler)
export(.tsGuessInterval)
export(.tsDataFilterHandler)
export(.tsDataWithMissingRowsHandler)
export(.tsFillTimeSeriesPlot)
export(.tsFillACF)
export(DescriptivesTimeSeries)
export(DescriptivesTimeSeriesInternal)
export(flexplot)
export(flexplotInternal)
export(raincloudPlots)
export(raincloudPlotsInternal)
